.disc-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8ba7c;
}

.disc-card {
    margin: 5px;
    padding: 10px;
    width: 25vw;
    border: 5px solid #3F826D;
    box-shadow: 5px 5px 5px grey;
}